/* Full page container */
.login-page {
  display: flex;
  height: 100vh;
  background-color: #0d1117;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

/* Left side (form) */
.login-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: #121c35fc;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  font-size: 28px;
  background: #2563eb;
  padding: 5px 5px;
  max-height: 30px;
  border-radius: 8px;
}

.welcome-text {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #a3a3a3;
}

/* Login box */
.login-box {
  background: #2e3a4b;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  max-height: 300px;
  box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.2);
}

.login-box h2 {
  margin-bottom: 0px;
  margin-top: 5px;
}

.subtext {
  margin-bottom: 10px;
  margin-top: 1px;
  color: #a3a3a3;
}

/* Inputs */
label {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 1px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 0px;
  border: 1px solid #383e4f;
  border-radius: 8px;
  background: #445267;
  color: white;
}

/* Password field */
.password-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 5px;
  top: 15%;
  cursor: pointer;
}

/* Links and button */
.forgot-link {
  display: block;
  margin-bottom: 20px;
  color: #2563eb;
  text-decoration: none;
  font-size: 14px;
}

.signin-btn {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.signup-text {
  margin-top: 20px;
  font-size: 14px;
}

.signup-text a {
  color: #2563eb;
  text-decoration: none;
}

/* Right side (image & text) */
.login-right {
  flex: 1;
  background: #1b2743fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.side-image {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 20px;
  margin-top: 150px;
}
